<%- include('./templates/head.html') -%>
<link rel="stylesheet" href="/css/detail.css" />
<body class="body-detail">
   <!-- Navbar menu -->
  <%- include('./templates/nav.html') -%>

   <header class="header">
      <h1>Página de detalle del artículo</h1>
   </header>
   <main class="main-detail">
      <section class="product-info">
         <div class="img-container">
            <img src="/img/adverts/<%= advert.image %> " alt="<%= advert.name %>">
         </div>
         
         <h2>🚧 En construcción 🚧</h2>
      </section>
   </main>
   <%- include('./templates/footer.html') -%>
</body>
</html>