<%- include('./templates/head.html') -%>
<link rel="stylesheet" href="/css/detail.css" />
<body class="body-detail">
   <!-- Navbar menu -->
  <%- include('./templates/nav.html') -%>

   <header class="header">
      <h1><%= advert.name %></h1>
   </header>
   <main class="main-detail">
      <section class="product-detail">
         <div class="img-container">
            <img src="/img/adverts/<%= advert.image %> " alt="<%= advert.name %>">
         </div>
         
         <div class="advert-detail">
            <p><span><%= __('Type: ') %></span><%= advert.sale ? __('for sale') : __('for buy') %></p>
            <p>
              <span><%= __('Price: ') %></span>
              <%= advert.price %> €
            </p>
            <p><span><%= __('Tags: ') %></span><%= advert.tags %></p>
            <p>
              <span><%= __('Description: ') %></span> <%= advert.description %>
            </p>
          </div>
      </section>
   </main>
   <%- include('./templates/footer.html') -%>
</body>
</html>