<%- include('./templates/head.html') -%>
<link rel="stylesheet" href="/css/login.css" />
<body class="body">
  <!-- Navbar menu -->
  <%- include('./templates/nav.html') -%>

  <header class="header">
    <h1>Login</h1>
  </header>

  <main class="main-login">
    <form class="form-login" method="POST">
      <div class="form-field">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          name="email"
          id="exampleInputEmail1"
          value="<%= email %>"
        />
      </div>
      <div class="form-field">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" id="exampleInputPassword1" />
      </div>
      <div class="form-field">
        <button type="submit" class="button">Submit</button>
      </div>
      <div class="form-field">
        <div class="validate-errors"><%= error %></div>
      </div>
    </form>
  </main>

  <!-- Footer template -->
  <%- include('./templates/footer.html') -%>
</body>
