.main-dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-dashboard {
  margin-top: 1rem;
  width: 300px;
  background-color: darkgrey;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;

  -webkit-box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.75);
}

.menu-dashboard {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-dashboard a {
  display: block;
  margin: 0.5rem 0;
}
