.body-detail {
  background-color: var(--bg-color);
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: lightgray;
}
.main-detail {
  flex: 1;
}

.main-detail section {
  margin: 2rem 0;
  text-align: center;
}

.main-detail h1 {
  margin: 2rem 0;
}
