.footer {
  background-color: var(--bg-color-sec);
  color: lightgray;
  text-align: center;
  height: 50px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: lightgray;
}

.footer a:hover {
  color: var(--color-secundario);
}
