.body-newad {
  background-color: var(--bg-color);
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: lightgray;
}
.body-newad header {
  text-align: center;
}
.main-newad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  flex: 1;
}

.form-newad {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bg-color-sec);
  border-radius: 1rem;

  -webkit-box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.75);
}
.form-newad h1 {
  text-align: center;
}

.form-newad .field {
  margin-top: 0.5rem;
}

.form-newad button {
  width: 150px;
  align-self: center;
}
