<div class="cards-container">
  <% if (adverts.length === 0) { %>
  <h2 class="no-result"><%= __('Sorry, there are not adverts ...') %></h2>
  <% } else { %> <% adverts.forEach(advert => { %>
  <a href="/adverts/<%= advert._id %>" class="advert-card">
    <img src="/img/adverts/<%= advert.image %>" alt="<%= advert.image %>" />
    <div class="advert-info <%= advert.sale ? 'sale' : 'buy' %>">
      <h2><%= advert.name %></h2>
      <p>
        <span><%= __('Price: ') %></span>
        <span class="price"><%= advert.price %> €</span>
      </p>
      <p><span><%= __('Tags: ') %></span><%= advert.tags %></p>
      <p>
        <span><%= __('Description: ') %></span> <%= advert.tinyDescription %>
      </p>
    </div>
  </a>
  <% }); }%>
</div>
