<form class="filter">
  <h2><%= __('Filter') %></h2>

  <div class="filter-field">
    <label for="tag"><%= __('Tags') %></label>
    <select id="tag" name="tags">
      <option value="all">-<%= __('All') %>-</option>
      <option value="lifestyle"><%= __('Lifestyle') %></option>
      <option value="mobile"><%= __('Mobile') %></option>
      <option value="motor"><%= __('Motor') %></option>
      <option value="work"><%= __('Work') %></option>
    </select>
  </div>

  <div class="filter-field">
    <input type="radio" id="advertChoice1" name="sale" value="true" />
    <label for="advertChoice1"><%= __('For Sale') %></label>

    <input type="radio" id="advertChoice2" name="sale" value="false" />
    <label for="advertChoice2"><%= __('For Buy') %></label>

    <input type="radio" id="advertChoice3" name="sale" value="both" checked />
    <label for="advertChoice3"><%= __('Both') %></label>
  </div>
  <div class="filter-field">
    <label for="sort"><%= __('Sort by:') %></label>
    <select id="sort" name="sort">
      <option value="normal"><%= __('Default') %></option>
      <option value="price"><%= __('Price') %></option>
      <option value="name"><%= __('Name') %></option>
    </select>
  </div>

  <div class="filter-field">
    <label for="min-price"><%= __('Min price') %></label>
    <input
      type="number"
      name="minPrice"
      placeholder="0"
      id="min-price"
      min="0"
    />
    <label for="max-price"><%= __('Max price') %></label>
    <input
      type="number"
      name="maxPrice"
      placeholder="<%= __('No limit') %>"
      id="max-price"
      min="1"
    />
  </div>
  <div class="filter-field">
    <h3><%= __('Paginate') %></h3>
    <label for="start"><%= __('Start') %></label>
    <input type="number" placeholder="0" name="start" id="start" min="0" />
    <label for="limit"><%= __('Limit') %></label>
    <input type="number" placeholder="20" name="limit" id="limit" min="0" />
  </div>

  <button id="button_filter" class="button"><%= __('Apply Filter') %></button>
</form>
