<nav class="navbar">
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo" /></a>
  </div>
  <h1 class="title">Nodepop</h1>
  <form class="search-nav">
    <input
      type="search"
      name="name"
      id="search"
      placeholder="Buscar anuncio..."
    />
    <label for="search"><i class="fas fa-search"></i></label>
  </form>

  <a href="/apidoc/" class="apidoc-btn" target="_blank">API Documentation</a>
  <a href="/newadv/" class="button" id="new-advert">Crear Anuncio</a>
</nav>
