<nav class="navbar">
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo" /></a>
  </div>
  <div class="locales">
    <% getLocales().forEach( locale => { %>
    <a href="/change-locale/<%= locale %>">
      <img src="/img/regions/<%= locale %>.png" alt="<%= locale %>" />
    </a>
    <% }); %>
  </div>
  <form class="search-nav">
    <input
      type="search"
      name="name"
      id="search"
      placeholder="<%= __('Search add...') %>"
    />
    <label for="search"><i class="fas fa-search"></i></label>
  </form>

  <a href="/apidoc/" class="apidoc-btn" target="_blank"
    ><%= __('API Documentation') %></a
  >

  <% if (!session.authUser) { %>
  <a href="/login" class="button" id="login"><%= __('Login') %></a>
  <% } else { %>
  <a class="button" href="/newadv"><%= __('New add') %></a>
  <a class="button" href="/user"><%= __('Panel') %></a>
  <a class="button" href="/logout"><%= __('Logout') %></a>
  <% } %>
</nav>
