<nav class="navbar">
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo" /></a>
  </div>
  <div class="locales">
    <% getLocales().forEach( locale => { %>
    <a href="/change-locale/<%= locale %>">
      <img <% if (locale === getLocale()) { %> class="activo" <% } %>
      src="/img/regions/<%= locale %>.png" alt="<%= locale %>" />
    </a>
    <% }); %>
  </div>

  <ul class="menu">
    <li class="menu-item">
      <a href="/apidoc/" class="apidoc-btn" target="_blank"
        ><%= __('API Documentation') %></a
      >
    </li>
    <% if (!session.authUser) { %>
    <li class="menu-item">
      <a href="/login" class="button" id="login"><%= __('Login') %></a>
    </li>
    <% } else { %>
    <li class="menu-item">
      <a class="button" href="/newadv"><%= __('New add') %></a>
    </li>
    <li class="menu-item">
      <a class="button" href="/dashboard"><%= __('Panel') %></a>
    </li>
    <li class="menu-item">
      <a class="button" href="/logout"><%= __('Logout') %></a>
    </li>
    <% } %>
  </ul>
</nav>
